{{#if error}}
    <div class="alert alert-danger" role="alert">
        Invalid ID
    </div>
{{else}}
    <img src= {{this.news.image}} id = "headimg">
    <div id = "info">
        <p class = "information">Author: {{this.news.writer}}</p>
        <p class = "information">{{this.news.subcategory}}</p>
        <p class = "information">Publish Date: {{this.news.date}}</p>
    </div>
    {{{this.news.content}}}
{{/if}}
