{{#if error}}
    <div class="alert alert-danger" role="alert">
        Invalid ID
    </div>
{{else}}
    <img src= {{this.news.image}} id = "headimg">
    <div id = "info">
        <p class = "information">Author: {{this.news.writer}}</p>
        <p class = "information">{{this.news.subcategory}}</p>
        <p class = "information">Publish Date: {{this.news.date}}</p>
    </div>
    {{{this.news.content}}}
    <h4 class = "headline">Comment</h4>
    <form action = '/news/add' method="POST">
        <textarea name="content"></textarea>
        <button type ="submit" class="btn btn-dark shadow" class = "button">Submit <i class="fas fa-check"></i></button>
    </form>
    
    <div class="list-group">
    {{#each comment}}
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">{{date}}</h5>
                {{{content}}}
            </div>
        </div>
    {{/each}}
    </div>
    <nav aria-label="Page navigation example">
    <ul class="pagination">
    {{#if this.prevpage.deactive}}
      <li class="page-item disabled">
        <a class="page-link" href="#" tabindex="-1" aria-disabled="true">Previous</a>
      </li>
    {{else}}
      <li class="page-item"><a class="page-link" href="?page={{this.prevpage.pos}}">Previous</a></li>
    {{/if}}
    {{#each this.pages}}
    {{#if active}}
       <li class="page-item active" aria-current="page">
         <a class="page-link" href="?page={{value}}">{{value}} <span class="sr-only">(current)</span></a>
      </li>
    {{else}}
        <li class="page-item"><a class="page-link" href="?page={{value}}">{{value}}</a></li>
    {{/if}}
    {{/each}}
    {{#if this.lastpage.deactive}}
      <li class="page-item disabled">
        <a class="page-link" href="#" tabindex="-1" aria-disabled="true">Last</a>
      </li>
    {{else}}
      <li class="page-item"><a class="page-link" href="?page={{this.lastpage.pos}}">Last</a></li>
    {{/if}}
  </ul>
</nav>
{{/if}}
